<button mat-flat-button color="accent" (click)="goToLanding()">BACK</button>

<div class="survey-details" *ngIf="survey$ | async as survey">
    <h1>
        {{survey.title}}
    </h1>

    <div class="questions">
        <div *ngFor="let question of survey.questions">
            <h2>
                {{question.query}}
            </h2>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let answer of question.answers">{{answer}}</mat-list-item>
              </mat-list>
        </div>
    </div>
</div>